@model ProductDetailsModel
@{
    //Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    //Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
}

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
@if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
{
    <div class="single-prd-item">
        <img class="img-fluid drift-image" data-zoom="@Model.DefaultPictureModel.ImageUrl" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
             title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
    </div>
}
else
{
    <div class="single-prd-item">
        <img class="img-fluid drift-image" data-zoom="@Model.DefaultPictureModel.ImageUrl" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
             title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
    </div>
}
@if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
{
    @foreach (var picture in Model.PictureModels)
    {
        <div class="single-prd-item">
            <img class="img-fluid drift-image" src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-fullsize="@picture.FullSizeImageUrl" />
        </div>
    }
}
else
{
    if (Model.PictureModels.Count > 1)
    {
        @foreach (var picture in Model.PictureModels)
        {
            <div class="single-prd-item">
                <img class="img-fluid drift-image" src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-fullsize="@picture.FullSizeImageUrl" />
            </div>
        }
    }
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
