@model IList<BlogPostYearModel>
@if (Model.Count > 0)
{
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">@T("Blog.Archive")</h4>
        <div id="accordion">
            @{ var count = 1; }
            @foreach (var yearItem in Model)
            {
                @{
                    var headId = "headingOne" + count.ToString();
                }
                <div class="card">
                    <div class="card-header" id="@headId">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@(yearItem.Year)" aria-expanded="true" aria-controls="@(yearItem.Year)">
                                @(yearItem.Year)
                            </button>
                        </h5>
                    </div>
                    <div id="@(yearItem.Year)" class="collapse show" aria-labelledby="@headId" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list cat-list">
                                @foreach (var monthItem in yearItem.Months)
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("BlogByMonth", new { month = yearItem.Year + "-" + monthItem.Month })" class="d-flex justify-content-between">
                                            <p>@(new DateTime(yearItem.Year, monthItem.Month, 1).ToString("MMMM"))</p>
                                            <p>(@(monthItem.BlogPostCount))</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @{ count++; }
            }
        </div>
    </aside>
}