@model WishlistEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
    //page class
    Html.AppendPageCssClassParts("html-email-a-friend-page");
}

<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.BuildBreadcrumbNavigation()
}


<div class="contact_area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center align-content-center mt-5">
            @if (Model.SuccessfullySent)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <form class="contact_form row" asp-route="EmailWishlist" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input asp-for="FriendEmail" placeholder="@T("Wishlist.EmailAFriend.FriendEmail.Hint")" class="form-control"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = '@T("Wishlist.EmailAFriend.FriendEmail.Hint")'" />
                            <span asp-validation-for="FriendEmail"></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input asp-for="YourEmailAddress" placeholder="@T("Wishlist.EmailAFriend.YourEmailAddress.Hint")" class="form-control"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = '@T("Wishlist.EmailAFriend.YourEmailAddress.Hint")'" />
                            <span asp-validation-for="YourEmailAddress"></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea asp-for="PersonalMessage" placeholder="@T("Wishlist.EmailAFriend.PersonalMessage.Hint")" rows="1" class="form-control" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = '@T("Wishlist.EmailAFriend.PersonalMessage.Hint")'"></textarea>
                            <span asp-validation-for="PersonalMessage"></span>
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="col-sm-12">
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        </div>
                    }
                    <div class="col-md-12 text-right">
                        <input type="submit" name="send-email" class="primary-btn" value="@T("Wishlist.EmailAFriend.Button")" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>