@model PasswordRecoveryModel
@{
    Layout = "_Root";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.BuildBreadcrumbNavigation()
}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        @await Html.PartialAsync("_ExternalAuthentication.Errors")
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="img/login.jpg" alt="">
                    <div class="hover">
                        <h4>@T("Account.PasswordRecovery")</h4>
                        <p>@T("Account.PasswordRecovery.Tooltip")</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    <form asp-route="PasswordRecovery" method="post" class="row login_form">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="col-md-12 form-group">
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            </div>
                        }
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">@T("Account.PasswordRecovery.RecoverButton")</button>
                            <a asp-route="Login">Back to login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>